
 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} 

:root {
    --primary-text-color:#183656;
    --secondary-text-color:#2467a5;
    --accent-color:#2294ed;
    --accent-color-dark:#1d69a3;
    --padding-inline-section: 20px;
}
body{  
    font-family: 'poppins',sans-serif;
    color:var(--primary-text-color);
}
h1{
    font-size: 3rem;
}
h2{
     font-size: 2rem;
}
h3{
    font-size: 1.5rem;
}
p{
    font-family: 'Roboto',sans-serif;
    font-size: 1.25rem;
    color:var(--secondary-text-color);
    line-height: 1.8rem;

}    
a{
    text-decoration: none;
     display: inline-block;
}
.small-bold-text{
    font-size: 1rem;
    font-weight: 700;
}
.container{
    max-width: 1180px;    
    margin-inline: auto;
     /* padding: var(--padding-inline-section); */
    
} 
.top-banner{
    background-color: #2294ed;

    
}
.banner-text{
    color: rgb(247, 241, 241);
     padding: 5px 30px; 
    text-align: center;
}
 .flex{
    display: flex;
    align-items: center;
    
} 
 .main-nav{
    display: flex; 
    align-items:  center;
    justify-content: space-between;
    margin-top: 8px;
} 
/* .nav-ul{
    display: flex;
    align-items: center;
} */
ul{
    list-style: none;
}
.nav-links{
    flex-basis: 700px;
}
.nav-links ul{
    justify-content: end;
    gap: 40px;
}
.secondary-button{
border: 0.5px solid var(--secondary-text-color);
border-radius: 6px;
font-weight: 700;
color: var(--primary-text-color)!important;
 padding: 9px 15px;
transition: 0.2s ease-out;
}
.secondary-button:hover{
    border-radius: var(--accent-color);
    color: var(--accent-color)!important;

     
}

.primary-button{
    background-color: var(--accent-color);
    border-radius: 6px;
    font-weight: 700;
    color: white !important;
    padding: 12px 24px;
    box-shadow: 0 0 2px var(--secondary-text-color);
    transition:0.2s ease-out   ;
}
.primary-button:hover{
    background-color: var(--accent-color-dark);
}

header{
    padding: 50px var(--padding-inline-section) 0;
}
.header-section{
    justify-content: center;
    gap: 90px;

}
.header-left{
    max-width: 80vw;
}
.header-left h1{
    margin-top: 20px;
}
.get-started-btn{
    margin-top: 20px;
}
.header-right-img{ 
    width: 700px;
    
} 

.companies-header{
    text-align: center;
    margin-block: 30px;
    columns: var(--accent-color);
}
.logos{
    justify-content: space-between;
}
.logo{
    height: 46px;
}

.features-section{
    padding: 80px var(--padding-inline-section) 0;
    /* background-image: url("./asets image/background images.jpg");
    background-repeat:no-repeat;
    background-position: center; */

}

.features-header{
    text-align: center; 

}
.features-heading-text{
    margin-bottom: 20px;
}  
.main-paragraph{
    margin-bottom: 30px;

}
.features-card{
    flex-direction: column;
    gap: 20px;
    max-width: 30%;
    text-align: center;
} 
.features-area {
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 40px;
    margin-top: 40px;
}
 .big-feature-section{
    padding: 30px var(--padding-inline-section) 0;
 }
 .big-feature-container{
    gap: 30%;
 }
 .feature-img img{
    width: 100%;
 }
 .feature-desc{
    flex-direction: column;
    align-items: flex-start ;
 }
 .example-header{
    flex-direction: column;
    gap: 20px;
 }
 .examples-heading-text{
    margin-bottom: 20px;
 }